* {
    margin: 0;
    padding: 0;
} 


  #logo{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
      transform-style: preserve-3d;
      animation-direction: normal;
  }

  .logo-text {
    margin-left: -600px;
    font-size: 30px;
  }
  
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


  /*nav bar*/
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: #0b111d;
  }
  
  .nav-toggler,
  .nav-toggler-label {
    display: none;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  nav {
    position: relative;
    line-height: 80px;
  }
  
  .navbar {
    display: flex;
    list-style-type: none;
  }
  
  .navbar .nav-item {
    margin: 0 0.5rem;
  }
  
  .navbar .nav-link {
    padding: 0.5rem 0.25rem;
    color: #888;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #0b111d;
  }
  
  #underline {
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: #333;
    width: 65px;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
  }
  
  @media screen and (max-width: 1300px) {
    #underline {
      display: none;
    }
    header {
      position: relative;
    }
    .nav-toggler-label {
      display: block;
      position: absolute;
      top: 0;
      right: 1rem;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
    }
  
    nav {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: #fafbfd;
      line-height: 40px;
      transform: scale(1, 0);
      transform-origin: top;
      transition: 0.3s;
    }
  
    .nav-toggler:checked ~ nav {
      transform: scale(1, 1);
    }
  
    .navbar {
      display: block;
      width: 100%;
    }
  
    .navbar .nav-item {
      margin: 0;
    }
  
    .navbar .nav-link {
      display: block;
      padding-left: 1rem;
      width: 100%;
    }
  
    .navbar .nav-link:hover,
    .navbar .nav-link.active {
      background-color: #ffffff;
    }
   #logo {
    display: none;
   }

    .logo-text {
      margin-right: -200px;
    }
  }

  /*here section*/
  .hero {
    height: calc(100vh - 65px);
    background-image: url(../images/spartansbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 1.8rem;
    font-weight: 800;
  margin-top: 80px;
  line-height: 50px;
}

/*small description ABOUT spartans*/
.about-section{
  background: url(../images/spartanslogo.jpg) no-repeat left;
  background-size: 30%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}