
  body {
    background: #19191f  url(../images/spartansbackground.jpg);
    background-position:center top;
    margin:0;
    color: #fff;
    background-repeat: no-repeat;
  }
  
  font {
    color: #e32f21;
  }
  
  header {
    width:100%;
    position:fixed;
    left:0;
    z-index: 9999;
    top:0;
    width:100%;
    background: url(../images/spartansbackground.jpg);
    background-size: 200px 100%;
    height:200px;
    font-weight:100;
  }
  
  header ul {
    padding:0;
    list-style: none;
  }
  
  header li.logo {
    color:#fff;
    background: url(../images/spartanslogo.jpg);
    background-size: 80px 80px;
    background-position: center left;
    background-repeat: no-repeat;
    font-size:48px;
    float:left;
    line-height: 95px;
    height:95px;
    padding-left:95px;
    margin-left: 25px;
  }
  
  .button {
    float:right;
    height:45px;
    line-height:45px;
    color: #fff;
    padding:0 35px;
    background: #e32f21; 
    border-radius:3px;
    margin:25px 0;
    margin-right: 25px;
  }
  
  .container {
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    display: table;
  }
  
  .container-small {
    width:33%;
    margin: 0 auto;
    display: table;
  }
  
  #video.container {
    background: url(https://i.imgur.com/VWYuxrA.jpg) center center;
    background-size: cover;
    height:540px;
    position: relative;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .floating-container {
    position: absolute;
    bottom:0;
    left:0;
    padding:50px;
    font-style: italic;
  }
  
  .floating-container h1 {
    font-size: 82px;
    margin: 0px;
    line-height: 72px;
    font-style: normal;
  }
  
  .floating-container font {
    text-shadow: 0 0 2px #e32f21;
  }
  
  .floating-container p {
    font-size: 40px;
    margin: 5px 0;
    line-height: 35px;
    padding-left: 1px;
  }
  
  #sponsors {
    background: rg;
  }
  
  #sponsors h1 {
    text-align: center;
    font-size:55px;
    margin: 45px 0 0 0;
  }
  
  #sponsors img {
    width:100%;
    float:left;
    margin-bottom: 25px;
  }
  
  #divisions .img-container {
    width:33%;
    float:left;
    height: auto;
    display: table;
    overflow: hidden;
    position: relative;
  }
  
  #divisions .img-container img {
    width:100%;
    height: auto;
    display:table;
    -webkit-filter-: grayscale(0.7);
    transition: .7s;
    -webkit-transition: .7s;
    transform: scale(1.035);
  }
  
  #divisions .img-container img:hover {
    transform: scale(1);
    -webkit-filter-: grayscale(0);
  }
  
  footer {
    height: 500px;
    margin-top:50px;
    background: rgba(10,10,10,.8);
  }
  
  footer .container {
    background: url(../images/welcomespartans.png);
    background-size: 100% auto;
    height:500px;
  }
  
  footer .container-small {
    margin-top:100px;
  }
  
  footer img {
    height:150px;
    margin: 75px auto 0;
    display: block;
  }
  
  footer a {
    display:block;
    text-align: center;
    width:50%;
    float:left;
    color:#fff;
    text-decoration: none;
    font-weight:100;
    font-size: 25px;
    text-transform: uppercase;
  }
  
  footer small {
    text-align: center;
    display:block;
    margin-top:55px;
    color: #e32f21;
  }